{% extends 'base.html' %}

{% block content %}
    <form action="" method="post"  class="d-flex flex-column align-content-around" style="width: 50%">
        <div class="form-group">
            <label>Номер счета клиента</label>
            <input type="number" min="0" max="200000000" class="form-control" name="account_id" placeholder="Номер счета">
        </div>
        <button type="submit" class="btn btn-lg  btn-info">Выполнить запрос</button>
        <a href="/" class="btn mt-3 btn-outline-info btn-lg btn-block">Назад</a>
    </form>
{% endblock %}
