{% extends 'report.html' %}

{% block content %}
    <form action="" method="post"  class="d-flex flex-column align-content-around" style="width: 50%">
      <div class="form-group">
        <label>Номер договора клиента</label>
        <input type="number" min="0" max="200000000" class="form-control" name="client_id" placeholder="Номер договора">
      </div>
      <button type="submit" class="btn btn-lg  btn-dark">Получить отчет</button>
      <a href="/" class="btn mt-3 btn-outline-dark btn-lg btn-block" >Назад</a>
    </form>
{% endblock %}
