  
{% extends 'base.html' %}

{% block content %}
    {% if result != None %}
        <table class="table table-bordered  p-5">
            <thead class="thead-dark">
                <tr>
                    {% for col in metadata %}
                        <th scope="col">{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in result %}
                    <tr>
                        {% for val in row %}
                            <th scope="col">{{ val  }}</th>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1 class="text-center">{{ error }}</h1>
    {% endif %}
    <a href="/" class="btn mt-5  btn-outline-info btn-lg btn-block" >Назад</a>
{% endblock %}
